-- Pull in the wezterm API
local wezterm = require("wezterm")

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is where you actually apply your config choices

-- For example, changing the color scheme:
config.color_scheme = "Gruvbox dark, medium (base16)"
config.window_background_opacity = 0.9
config.font = wezterm.font_with_fallback { "Berkeley Mono", "IosevkaTerm Nerd Font" }
config.font_size = 12

config.default_prog = { {{ .fish_path | quote }} }

-- and finally, return the configuration to wezterm
return config
